var scheme          = "<%= @scheme %>";
var uri             = scheme + window.document.location.host + "/";
var ws              = new WebSocket(uri);
var video           = document.getElementById("video-stream");
var decisionTime    = 20;
var decicsionActive = false;

ws.onmessage = function(message) {
  var data = JSON.parse(message.data);
  $("#decision-panel").html("<b> Was soll ich machen? </b> <p> <button> A: Milch holen </button> </p> <p> <button> B: Nichts tun </button> </p>");
};

$("#video-stream").on("timeupdate", function() {
    // TODO: Just calculate that once
    var decicsionTime = this.duration - decisionTime;

    if(this.currentTime > decicsionTime && decicsionActive == false) {
      $("#decision-logo").fadeIn( 3000 );
      ws.send(JSON.stringify({ decision: 'active' }));
      decicsionActive = true;
    }
});

$(document).ready(function() {
  $("#decision-logo ").hide();
});
