<!DOCTYPE html>
<html>
  <head>
    <title>Active Cinema Movie</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="assets/css/application.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <video id="video_stream" autoplay controls width="100%" height="100%">
        <source src="https://dl.dropboxusercontent.com/u/4159960/Arlberg%202015%20-%20The%20Movie%20-%20small.mp4" type='video/mp4'>
        Your browser does not support the video tag.
      </video>
    </div>

    <script type="text/javascript" src="assets/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="assets/js/application.js"></script>
  </body>
</html>
