<!DOCTYPE html>
<html>
  <head>
    <title>Active Cinema Movie</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="assets/css/application.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id='video-player'>
      <video id="video-stream" preload autoplay controls>
        <source src='<%= @video_link %>' type='video/mp4'>
        Your browser does not support the video tag.
      </video>
      <div id="decision-logo">
        <img src="assets/img/decison_logo.png">
      </div>
    </div>

    <script type="text/javascript" src="assets/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="assets/js/application.js"></script>
  </body>
</html>
