body {
  background: black;
  overflow: hidden;
  margin-top: 10px;
}

#video-player {
  position: relative;
}

video {
  width: 100%    !important;
  height: auto   !important;
}
video::-webkit-media-controls-fullscreen-button {
  display: none;
}

#decision-logo {
  position: absolute;
  right: 1%;
  bottom: 15%;
  font-size: 50px;
  color: white;
}

#decision-result-voting {
  text-align: center;
}

#decision-result-movie {
  position: absolute;
  right: 1%;
  bottom: 15%;
  font-size: 300%;
  color: white;
}

.decided-button {
  color: black !important;
  font-weight: 800;
}

#answers button {
  height: 100px;
  width: 100%;
  font-size: 18px;
  border-radius: 6px;
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
  margin-bottom: 5px;
}

/* Decision Timer Animation */

.timer {
  background: -webkit-linear-gradient(left, black 50%, orange 50%);
  border-radius: 100%;
  height: 100px;
  position: relative;
  width: 100px;
  -webkit-animation: time 10s;
  -webkit-animation-play-state: paused;
  -webkit-backface-visibility: hidden;
}
.voting-timer {
  float: right;
  height: 30px;
  width: 30px;
  margin-top: 7px;
}
.mask {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
  -webkit-animation: mask 10s;
  -webkit-transform-origin: 100% 50%;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: reverse;
  -webkit-backface-visibility: hidden;
}
@-webkit-keyframes time {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes mask {
  0% {
    background: orange;
    -webkit-transform: rotate(0deg);
  }
  50% {
    background: orange;
    -webkit-transform: rotate(-180deg);
  }
  50.01% {
    background: black;
    -webkit-transform: rotate(0deg);
  }
  100% {
    background: black;
    -webkit-transform: rotate(-180deg);
  }
}
