body {
  background: black;
  overflow: hidden;
}

#video-player {
  position: relative;
}

#video-stream {
  position: relative;
  height: 100%;
  width: 100%;
}

#decision-logo {
  position: absolute;
  right: 1%;
  bottom: 15%;
  font-size: 50px;
  color: white;
}