body {
  background: black;
  overflow: hidden;
}

#video_player {
  position: relative;
}

#video_stream {
  position: relative;
  height: 100%;
  width: 100%;
}

#decision_logo {
  position: absolute;
  right: 1%;
  bottom: 15%;
}