var video           = document.getElementById("video-stream");
var decisionTime    = 20;
var decicsionActive = false;

ws.onmessage = function(message) {
  var data = JSON.parse(message.data);
  console.log(data)
  if (data.video) {
    var source = document.querySelectorAll("#video-player video source");
    source[0].src = data.video;
    video.load();
    video.play();
    $("#decision-logo ").hide();
    if (data.question != null) { decicsionActive = false; }
  } else if (data.the_end) {
    $("#decision-logo").html('The End');
    $("#decision-logo").fadeIn( 3000 );
  }
  // DEBUG
  if (data.votes) {
    var votes = JSON.parse(data.votes);
    if (!jQuery.isEmptyObject(votes)) {
      $("#decision-result").html('');
      for (var i = 0; i < Object.keys(votes).length; i++) {
        $("#decision-result").append(
          "<div> Decision "+i+" : "+votes[i]+" votes</div>");
      }
      $("#decision-result").fadeIn( 1000 );
      $("#decision-result").fadeOut( 10000 );
    }
  };
};

$("#video-stream").on("timeupdate", function() {
    // TODO: Just calculate that once
    var decicsionTime = this.duration - decisionTime;

    if (this.currentTime > decicsionTime && decicsionActive == false) {
      $("#decision-logo").fadeIn( 3000 );
      ws.send(JSON.stringify({ decision: 'active' }));
      decicsionActive = true;
    }
});

$("#video-stream").on("ended", function() {
  ws.send(JSON.stringify({ video: 'ended' }));
});

$(document).ready(function() {
  $("#decision-logo ").hide();
});
