ws.onmessage = function(message) {
  var data = JSON.parse(message.data);
  console.log(data)

  if (data.question && data.answers) {
    $("#question").html(data.question);
    $("#answers").html('');
    for (var i = 0; i < data.answers.length; i++) {
      $("#answers").append(
        "<button onclick='handleDecision("+i+")'>"+
        data.answers[i]+"</button>");
    }
  }
  if (data.decision_active == true) {
    showDecision();
  } else {
    hideDecision();
  }
  if (data.votes) {
    showDecisionResult(data.votes);
  };
};

function showDecision() {
  $("#waiting-panel").hide();
  $("#decision-panel").show();
}

function hideDecision() {
  $("#decision-panel").delay( 500 ).fadeOut( 500 );
  $("#waiting-panel").delay( 1000 ).fadeIn( 500 );
}

function handleDecision(e) {
  ws.send(JSON.stringify({ decided: e }));
  hideDecision();
}

function showDecisionResult(votes) {
  var map = {0: 'A', 1: 'B', 2: 'C'}
  var votes = JSON.parse(votes);
  if (!jQuery.isEmptyObject(votes)) {
    $("#decision-result").html('<b>Last Voting</b>');
    jQuery.each(votes, function(i, val) {
      $("#decision-result").append(
        "<div> Decision " + map[i] + " : " + val + " votes</div>");
    });
    $("#decision-result").fadeIn( 1000 );
    $("#decision-result").fadeOut( 10000 );
  }
}

$(document).ready(function() {
  $("#decision-result").hide();
});